<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>App Videos Favoritos</title>
    <%- include ('partials/_header') %>
</head>

<body>

    <!-- HEADER -->
    <%- include ('partials/navigation') %>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-7">
                    <div class="card-body">
                        <form action="/add" method="POST">
                            <div class="form-group">
                                <input type="text" name="name" placeholder="Name" class="form-control" autofocus>
                            </div>
                            <div class="form-group">
                                <input id="link" type="text" name="description" placeholder="Link ej. https://www.youtube.com/embed/djV11Xbc914" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="category" placeholder="Category" class="form-control">
                            </div>
                            <button id="verButton" type="submit" onclick="" class="btn btn-primary">
                    Aceptar
                </button>
                        </form>
                    </div>
                </div>
                <div class="col-md-5">
                    <iframe width="447" height="310" src="<%= link[0].description+'?autoplay=1' %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </div>
            </div>
        </div>

        <div class="container-fluid" id="about">
            <div class="row bg-dark text-white p-5 text-center">
                <div class="col-sm-6">
                    <i class="fab fa-youtube fa-10x"></i>
                </div>
                <div class="col-sm-6">
                    <h3>       r</h3>
                    <p>
                        <span> </span>
                    </p>
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <%- include ('partials/_footer')  %>
            <!-- JAVASCRIPT CDNS -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

</html>